@use '../../../styles/variables' as *;

main {
    position: relative;
    // padding-top: var(--header-height);

    section {
        position: relative;
        width: 100%;
        z-index: 1;
        background-color: var(--bg-color);
        padding-top: 20px;

        .category {
            text-align: center;

            h2 {
                padding-bottom: 20px;
                border-bottom: 2px solid var(--section-border-color);
                color: var(--white);
            }

            .category-grid {
                // height: 160px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                backdrop-filter: blur(15px);
                box-shadow: 0 0 20px hsla(var(--hue), 100%, 50%, 0.3);

                a {
                    color: inherit;
                    text-decoration: none;

                    .category-card {
                        // font-family: 'Georgia', serif;
                        background-color: rgb(36 66 94);
                        color: var(--white);
                        box-shadow: 0px 4px 7px 1px rgb(68, 96, 122);
                        padding: 10px 20px;
                        // min-width: 200px;
                        border-radius: 20px;
                        text-align: center;
                        font-size: 14px;
                        flex-shrink: 0;
                        cursor: pointer;
                        transition: box-shadow 0.3s;

                        &:hover {
                            box-shadow: 0px 7px 10px 1px rgb(68, 96, 122);
                        }
                    }
                }

                &::-webkit-scrollbar {
                    height: 0px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    .section-new {
        padding: 80px 0;
        color: var(--text-color);
        border-radius: 10px;
        position: relative;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(60%) blur(1px);
            }
        }

        .section-title {
            text-transform: uppercase;
            position: relative;
            z-index: 2;
        }

        .section-description {
            color: var(--text-color);
            position: relative;
            z-index: 2;
        }
    }

    // Default card style
    .carousel-wrapper {
        width: 100%;
        margin-block: 55px;

        .owl-travel-card {
            position: relative;
            width: 100%;
            // flex: 1;
            // border-radius: 15px;
            // overflow: hidden;
            transform-style: preserve-3d;
            transition: transform 0.5s ease;
            // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
            flex: 0 0 auto;

            // &:hover {
            //     transform: translateY(-5px);
            //     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            // }

            ::ng-deep {
                app-place-card {
                    .travel-card {
                        width: 100%;
                        height: 350px;
                    }

                    @media (max-width: 550px) {
                        .travel-card {
                            width: 80% !important;
                            margin: auto;
                        }
                    }
                }
            }

            // .travel-image {
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            // }

            // .card-overlay {
            //     position: absolute;
            //     bottom: 0;
            //     width: 100%;
            //     background: rgba(0, 0, 0, 0.6);
            //     padding: 15px;
            //     text-align: center;
            //     font-family: var(--font-family);

            //     .travel-title {
            //         font-size: 1.5rem;
            //         margin: 0;
            //         text-wrap: auto;

            //         @media (max-width: 550px) {
            //             font-size: 1.3rem;
            //         }
            //     }

            //     .travel-location {
            //         font-size: 1rem;
            //         opacity: 0.8;
            //         margin: 0 0 10px;
            //         line-height: 1.5;
            //         text-wrap: auto;

            //         @media (max-width: 550px) {
            //             font-size: 0.9rem;
            //         }
            //     }

            //     .explore-btn {
            //         background: rgba(255, 215, 0, 0.9);
            //         color: black;
            //         border: none;
            //         padding: 10px 35px;
            //         border-radius: 100px;
            //         cursor: pointer;
            //         font-size: 1rem;
            //         transition: 0.3s;
            //         margin: auto;
            //         bottom: auto !important;

            //         &:hover {
            //             background: rgba(255, 215, 0, 1);
            //             transform: scale(1.1);
            //         }

            //         @media (max-width: 550px) {
            //             padding: 8px 16px;
            //             font-size: 0.9rem;
            //         }
            //     }
            // }
        }
    }

    .adventure-section {
        background: var(--section-gradient-bg-color);
        padding: 80px 0px;
        min-height: 100vh;
        // text-align: center;

        .section-title {
            color: var(--white);
            margin-bottom: 10px;
            text-transform: uppercase;

            a {
                color: white !important;
            }
        }

        .section-description {
            color: var(--white);
            position: relative;
            z-index: 2;
        }
    }

    .galactic-wonders {
        padding: 80px 0;
        color: var(--white);
        // text-align: center;
        border-radius: 10px;
        position: relative;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(60%) blur(4px);
            }
        }

        .section-title {
            color: var(--white);
            margin-bottom: 10px;
            position: relative;
            z-index: 2;
            text-transform: uppercase;
        }

        .section-description {
            color: var(--text-color);
            position: relative;
            z-index: 2;
        }
    }

    .hero-section {
        position: relative;
        z-index: 2;
        height: calc(100vh - var(--header-height));
        min-height: 600px;
        overflow: hidden;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--white);
        background-color: var(--bg-color);
        padding: 50px 40px 0px 40px;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(60%) blur(2px);
            }
        }

        .hero-container {
            position: relative;
            z-index: 2;
            width: 70%;
            max-width: 1200px;

            .headline {
                // color: #ceea60;
                margin: 0;
                line-height: 1.2;
                // letter-spacing: 2px;
                background: var(--hero-text-gradient-color); // #FF5E62
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .title-line {
                display: flex;
                align-items: center;
                gap: 8px; // spacing between emoji and text
                // margin-bottom: 25px;

                .emoji {
                    font-size: 40px; // or adjust as needed
                    line-height: 1;
                    display: flex;
                    align-items: center;
                }
            }

            h1 {
                // font-size: 2.5rem;
                margin: 0;
                margin-bottom: 20px;
            }

            .small {
                font-size: 35px;
                text-transform: none;
            }

            p {
                // font-family: 'Georgia', serif;
                color: var(--secondary-text-color);
                // font-size: 18px;
                // font-weight: 300;
                max-width: 600px;
                margin: 15px 0 35px 0;
                line-height: 1.5;
            }

            .hero-btn {
                position: relative;
                // bottom: -80px;
                // left: 0%;
                // transform: translateX(-50%);
                z-index: 10;
                list-style: none;
                background: rgba(55, 55, 55, 0.473);
                backdrop-filter: blur(4px);
                border-radius: 60px;
                // width: 60px;
                width: 170px;
                height: 50px;
                transition: box-shadow 0.3s ease, width 0.3s ease;

                span {
                    transform: scale(0);
                    color: var(--i);
                    transition-delay: 0s;
                }

                .title {
                    transform: scale(1);
                    transition-delay: 0.25s;
                }

                &:hover {
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
                    background: rgba(55, 55, 55, 0.473);

                    // span {
                    //     transform: scale(0);
                    //     color: var(--i);
                    //     transition-delay: 0s;
                    // }

                    // .title {
                    //     transform: scale(1);
                    //     transition-delay: 0.25s;
                    // }
                }

                // @media (max-width: 990px) {
                //     width: 180px;
                //     box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
                //     background: rgba(55, 55, 55, 0.473);

                //     span {
                //         transform: scale(0);
                //         color: var(--i);
                //         transition-delay: 0s;
                //     }

                //     .title {
                //         transform: scale(1);
                //         transition-delay: 0.25s;
                //     }
                // }
            }
        }

        @media (max-width: 1024px) {
            // .hero-container {
            // h1 {
            //     font-size: 38px;
            // }

            // .small {
            //     font-size: 26px;
            // }

            // p {
            //     font-size: 16px;
            //     max-width: 600px;
            // }
            // }
        }

        @media (max-width: 990px) {
            padding: 10px;
            // text-align: center;

            .hero-container {
                margin: auto;
                width: 80%;

                // h1 {
                //     font-size: 28px;
                // }

                .small {
                    font-size: 22px;
                }

                // p {
                //     font-size: 18px;
                // }

                .hero-btn {
                    bottom: auto;
                    left: 50%;
                    top: 20px;
                    transform: translateX(-50%);
                }
            }
        }

        @media (max-width: 550px) {
            .hero-container {
                width: 100%;

                h1 {
                    // font-size: 18px;
                    margin: 0;
                }

                .small {
                    font-size: 22px;
                }

                .title-line {
                    margin-bottom: 10px;
                }

                p {
                    margin-block: 10px;
                    // font-size: 14px;
                    // text-align: start;
                }
            }
        }
        .wonders-grid {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 20px;
            white-space: nowrap;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                height: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.3);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }

    .places-section {
        padding: 50px 20px;
        width: 80%;
        margin: auto;
        // background: #f8f9fa;

        h2 {
            // font-size: 2.5rem;
            // color: #333;
            margin-bottom: 10px;
        }

        p {
            // font-size: 1.2rem;
            // color: #555;
            margin-bottom: 30px;
        }

        .places-container {
            max-width: 1200px;
            margin: auto;

            .left {
                display: flex;
                gap: 10px;

                .region {
                    margin-bottom: 40px;
                    padding: 0;
                    border: none;
                    cursor: pointer;
                    // border: 1px solid #dcdcdc;
                    padding: 7px 20px;
                    background-color: var(--header-bg-color);
                    border-radius: 100px;
                    transition: all 0.3s;
                    color: var(--white);

                    span {
                        font-size: 12px;
                    }

                    &:hover, &.active {
                        background-color: var(--primary-color);
                    }
                }
            }

            .right {
                .cards {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 20px;

                    .place-card {
                        background: var(--white);
                        width: 300px;
                        border-radius: 12px;
                        overflow: hidden;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                        transition: transform 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            transform: translateY(-10px);
                        }

                        .image-container {
                            height: 180px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: transform 0.3s ease-in-out;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .image-container {
        width: 400px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;

        canvas {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .category {
        position: relative;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;

            .category-card {
                min-width: 230px;
                height: 190px;
                transition: all 0.5s;
                position: relative;
                z-index: 10;

                &:hover {
                    z-index: 11;
                    border-radius: 10px;
                    transform: translateY(-10px) scale(1.1);

                    .card-overlay {
                        background: rgba(0, 0, 0, 0.2) !important;
                    }
                }


                .card-overlay {
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    padding: 15px;
                    text-align: center;
                    font-family: var(--font-family);
                    color: var(--secondary-text-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: all 0.5s;
                    gap: 20px;

                    .travel-title {
                        font-size: 18px;
                        margin: 0;
                        text-wrap: auto;

                        @media (max-width: 550px) {
                            font-size: 16px;
                        }
                    }

                    .explore-btn {
                        background: rgba(255, 215, 0, 0.9);
                        color: var(--black);
                        border: none;
                        padding: 6px 18px;
                        border-radius: 100px;
                        cursor: pointer;
                        font-size: 14px;
                        transition: 0.3s;

                        &:hover {
                            background: rgba(255, 215, 0, 1);
                            transform: scale(1.1);
                        }

                        @media (max-width: 550px) {
                            padding: 8px 16px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}


.svg-clip {
    width: 0;
    height: 0;
}
