<main>
    <section>
        <div class="section1">
            <img class="main-image" src="../../../assets/imgs/pexels-pixabay-257092.jpg" alt="">
            <div class="context">
                <h1>Travel <span>Smarter,</span></h1>
                <h1>Explore Better with Chalo Ghoome!</h1>
                <p>Chalo Ghoome is a comprehensive platform that seamlessly connects both tour guides and travelers. Our
                    platform serves as a hub where tourists can easily access a wealth of information about tour guides,
                    their services, and available packages. Conversely, tour guides can efficiently showcase their
                    offerings directly to interested travelers, facilitating a direct and transparent exchange of
                    information.</p>
                <button type="button" class="btn btn-outline-primary" (click)="redirectTo('home', {section: 'about_us'})">Explore</button>
            </div>
        </div>
    </section>
    <section>
        <div class="section2" id="wonders_of_world">
            <app-place-corousal [title]="'Wonders of the World'" [id]="'wonders_of_world'"
                [placesList]="commonService.wonders"></app-place-corousal>
        </div>
    </section>
    <section>
        <div class="section3" id="hidden_gems">
            <app-place-corousal [title]="'Hidden Gems'" [id]="'hidden_gems'" [placesList]="commonService.hiddenGems"
                [grid]="true"></app-place-corousal>
        </div>
    </section>
    <section>
        <div class="section4" id="most_visited_places">
            <app-place-corousal [title]="'Most Visited Places'" [id]="'most_visited_places'"
                [placesList]="commonService.mostVisited"></app-place-corousal>
        </div>
    </section>
    <section>
        <div class="section5" id="about_us">
            <div class="content">
                <div class="head">
                    <h3>About Us</h3>
                </div>
                <div class="body">
                    <div class="left">
                        <p>
                            Welcome to <span class="highlight">Chalo Ghoome</span>, the ultimate hub for travel
                            enthusiasts worldwide. We're here to ignite your wanderlust and connect you with experiences
                            that go beyond the ordinary.
                            <br><br>
                            At <span class="highlight">Chalo Ghoome</span>, we understand that travel is more than just
                            visiting a place; it's about immersing yourself in new cultures, exploring hidden gems, and
                            creating unforgettable memories. Whether you're a seasoned traveller or embarking on your
                            first adventure, our platform is designed to inspire and guide you every step of the way.
                            <br><br>
                            <span class="highlight">For travellers, Chalo Ghoome</span> offers a platform to share your
                            travel Stories, seek inspiration for your next journey, and connect with fellow globetrotters.
                            From <span class="highlight">budget-friendly tips to luxury travel experiences</span>, our
                            community-driven platform has something for every type of <span
                                class="highlight">traveller</span>.
                            <br><br>
                            <span class="highlight">For guides, Chalo Ghoome</span> is your platform to showcase your
                            expertise, <span class="highlight">connect with a global audience</span>, and create
                            personalized travel experiences. Whether you're a local guide offering unique insights or a
                            seasoned tour operator, our platform empowers you to share your passion for travel and <span
                                class="highlight">create unforgettable adventures for travellers around the
                                world</span>.
                            <br><br>
                            <span class="highlight">Join us at Chalo Ghoome</span> and unlock a world of travel
                            possibilities. Whether you're dreaming of a relaxing beach vacation, a <span
                                class="highlight">thrilling adventure</span> in the mountains, or a cultural immersion
                            in a vibrant city, <span class="highlight">Chalo Ghoome is here to make your travel dreams a
                                reality</span>.
                        </p>
                    </div>
                    <div class="right">
                        <img src="../../../assets/imgs/travel_guys_about-us.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="paralax">
        <div class="info">
            <h3>Why choose us ? </h3>
            <p>The tourism sector is rapidly embracing technology, reducing manual work. However, it's struggling to capture the attention of targeted customers. Taking this challenge seriously, we offer a separate platform for tourism enthusiasts to share their travel stories. Travelers can tag the guides they booked with us or without us. This approach is particularly beneficial for guides, helping them reach a targeted audience and grow their business. Travelers can also conveniently access information about available services remotely. Join us to explore, share, and connect!</p>
        </div>
    </section>
    <section>
        <div class="section6" id="contact_us">
            <div class="content">
                <div class="head">
                    <h3>Contact Us</h3>
                </div>
                <div class="body">
                    <div class="right">
                        <form #contactForm="ngForm" (submit)="onSubmit(contactForm)">
                            <div class="custom-form-group mb-4">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" required>
                            </div>
                            <div class="custom-form-group mb-4">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Enter Email" required>
                            </div>
                            <div class="custom-form-group mb-4">
                                <textarea name="message" class="form-control" placeholder="Enter Message" id="message"
                                    rows="5" required></textarea>
                            </div>

                            <!-- cta -->
                            <div class="cta">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                    <div class="left">
                        <div class="contact-info">
                            <h3>Have a question or need assistance ?</h3>

                            <p>Feel free to reach out to us! Our dedicated team is here to help you with any inquiries you may have. You can contact us through the following methods:</p>

                            <p><strong>Email :</strong> support&#64;chaloghoome.com</p>

                            <p><strong>Phone :</strong> +91 7264878403</p>

                            <p><strong>Address :</strong> Pandharpur, Maharashtra, India (413304)</p>

                            <p><strong>Social Media :</strong> Connect with us on Twitter & LinkedIn</p>

                            <p><strong>Operating Hours :</strong> 10 am to 10 pm.</p>

                            <p>We look forward to hearing from you and assisting you with your travel needs!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>