@use '../../../styles/variables' as *;

section {
    min-height: calc(100vh - 176px);
    overflow: auto;
    // background-color: rgb(23, 42, 60);
    background-color: var(--bg-color);
    color: $color-white;
    padding-top: var(--header-height);

    h3 {
        padding-bottom: 20px;
        color: var(--text-color);
        border-bottom: 2px solid var(--primary-color);
        text-align: center;
    }

    // h2 {
    //     color: #ffffff;
    //     margin-bottom: 20px;
    // }

    .container {
        text-align: left !important;

        .search-container {
            padding-block: 50px 20px;

            .para-xl {
                border-bottom: 2px solid var(--primary-color);
            }

            .result-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                gap: 1.5rem;

                .card {
                    background: #fff;
                    border-radius: 12px;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
                    padding: 1rem;
                    transition: transform 0.2s;

                    img {
                        width: 100%;
                        border-radius: 8px;
                    }

                    h3 {
                        margin: 0.5rem 0;
                    }

                    a {
                        color: #007BFF;
                        font-weight: bold;
                        display: inline-block;
                        margin-top: 0.5rem;
                    }

                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
}
