/* styles.scss */

$primary-color: #2ECC71; // Define primary color

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;

    @media screen and (max-width: 768px) {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}


// .gallery {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
//     gap: 10px;
//     margin-bottom: 20px;
// }

// .gallery img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     background-position: center;
//     max-height: 90vh;
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// SCSS for the image carousel
.gallery {
    width: 100%;
    // height: 300px; // Added height
    overflow: hidden;
    background-color: black;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        max-height: 90vh;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .carousal {
        display: flex;
        position: relative;
        height: 100%; // Ensures the carousel takes the full gallery height

        &-inner {
            display: flex;
            align-items: center;
            transition: transform 0.5s ease-in-out;
            height: 100%; // Matches the height of the gallery
            background-color: black;
        }

        &-item {
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%; // Ensures each item takes full height
            border-radius: 10px;

            app-progressive-image {
                /* width: 100%; */
                height: 80vh;

                @media screen and (max-width: 768px) {
                    display: flex;
                    align-items: center;
                }

                .blur-img {
                    @media screen and (max-width: 768px) {
                        height: auto !important;
                    }
                }

                img {
                    aspect-ratio: none !important;
                    height: auto !important;
                }
            }
        }

        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.1);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            height: 100%;
            width: 20%;
            filter: blur(0px);
            font-size: 33px;

            &.prev {
                left: 0px;
            }

            &.next {
                right: 0px;
            }
        }
    }
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-block: 10px;

    .nav-thumb {
        width: 25px;
        height: 30px;
        margin: 0 2px;
        object-fit: cover;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0.7;

        &.active {
            transform: translateY(-6px) scale(1.2);
            opacity: 1;
            border: 1px solid #333;
        }

        &:hover {
            transform: translateY(-6px) scale(1.2);
            // transform: scale(1.1);
            opacity: 1;
        }
    }
}


.information,
.travel-guide {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.information {
    .d-flex {

        h3,
        p {
            padding: 0;
            margin: 0;
        }
    }
}

.travel-guide ul {
    list-style-type: none;
    padding: 0;
}

.travel-guide ul li {
    margin-bottom: 10px;
}

.hero {
    text-align: center;
    padding-bottom: 2rem;

    img {
        width: 100%;
        /* Responsive image */
        max-height: 400px;
        /* Limit image height */
        object-fit: cover;
    }

    h1 {
        font-size: 2.5rem;
        /* Larger heading for emphasis */
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        /* Slightly larger paragraph text */
        margin-bottom: 1rem;
    }

    a {
        background-color: $primary-color;
        /* Green button color */
        color: #fff;
        /* White button text */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        /* Indicate clickable button */
    }
}

.about-park {
    margin-bottom: 2rem;

    p {
        text-align: justify;
        /* Justify text for better readability on wider screens */
        line-height: 1.5;
        /* Increase line spacing for easier reading */
    }
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.highlight-card {
    width: 32%;
    /* Responsive card width */
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    /* Light border for separation */
    border-radius: 5px;
    // text-align: center;

    img {
        width: 100%;
        max-height: 150px;
        /* Limit card image height */
        object-fit: cover;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
}

.travel-guide {
    margin-bottom: 2rem !important;
    margin-inline: 0;

    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.row {

    .guide-section {
        margin-bottom: 2rem;
        box-shadow: 0 0 2px 1px #f2f2f2;
        border-radius: 8px;
        padding: 15px;

        h3 {
            font-size: 1.1rem;
            font-weight: 500;
            border-bottom: 2px solid #dcdcdc;
            margin-bottom: 0.5rem;
        }
    }
}

.d-flex {
    align-items: center;
    gap: 6px;
}

.border-bottom-2 {
    border-bottom: 2px solid #dcdcdc;
}