<head>
    <title>Taj Mahal History - A Symbol of Love</title>
</head>
<main>
    <!-- <section class="gallery"> -->
    <!-- Iterate over highlights -->
    <!-- <img [src]="highlight.imagePath" alt="ChaloGhoome {{ highlight.title }}" (click)="openPreview(highlight.imagePath)"> -->
    <!-- @for (highlight of placeDetails?.highlights; track $index) {
            <app-progressive-image [smallImage]="commonService.appendAssetUrl(highlight.imagePath)"
            [image]="commonService.appendAssetUrl(highlight.imagePath)" [altText]="'ChaloGhoome: {{ highlight.title }}'"
            (onImagClicked)="openPreview(commonService.appendAssetUrl(highlight.imagePath))"></app-progressive-image>
        } -->
    <!-- </section> -->
    <section class="gallery">
        <div class="carousal">
            <div class="carousal-inner"
                [ngStyle]="{'transform': 'translateX(' + (-currentIndex * 100) + '%)', 'transition': 'transform 0.5s ease-in-out'}">
                @for (highlight of placeDetails?.highlights; track $index) {
                <!-- {{highlight.compressedImagePath}} -->
                <div class="carousal-item" (mouseenter)="pauseAutoSlide()" (mouseleave)="resumeAutoSlide()"
                    (mousedown)="pauseAutoSlide()" (mouseup)="resumeAutoSlide()">
                    <app-progressive-image [smallImage]="commonService.appendAssetUrl(highlight.compressedImagePath)"
                        [image]="commonService.appendAssetUrl(highlight.imagePath)" [title]="highlight.title"
                        [altText]="'ChaloGhoome: ' + highlight.title + ': '+ highlight.description"
                        [aspectRatio]="false"
                        (onImagClicked)="openPreview(commonService.appendAssetUrl(highlight.imagePath))">
                    </app-progressive-image>
                </div>
                }
            </div>
            <button class="carousal-btn prev" (click)="prevSlide()" [disabled]="currentIndex === 0">❮</button>
            <button class="carousal-btn next" (click)="nextSlide()">❯</button>
            <!--  [disabled]="currentIndex === placeDetails?.highlights.length - 1" -->
        </div>

    </section>
    <!-- Navigation dots -->
    <div class="carousel-navigation">
        @for (highlight of placeDetails?.highlights; track $index) {
        <img class="nav-thumb" [class.active]="currentIndex === $index"
            [src]="commonService.appendAssetUrl(highlight.imagePath)" [alt]="'Thumbnail for ' + highlight.title"
            (click)="goToSlide($index)" (mouseenter)="pauseAutoSlide()" (mouseleave)="resumeAutoSlide()" />
        }
    </div>
    <article>
        <section class="information">
            <h1 class="border-bottom-2">About {{ placeDetails?.postName }}</h1>
            <p>{{ placeDetails?.summary }}</p>
            @if (placeDetails?.history) {
            <h2 class="border-bottom-2">History of {{placeDetails?.postName}}</h2>
            <p>{{ placeDetails?.history }}</p>
            }
            @if (placeDetails?.area) {
            <div class="d-flex">
                <h3>Area: </h3>
                <p>{{ placeDetails?.area }}
                </p>
            </div>
            }
            @if (placeDetails?.yearEstablished) {
            <div class="d-flex">
                <h3>Year Established: </h3>
                <p>
                    {{ placeDetails?.yearEstablished }}
                </p>
            </div>
            }
            <!-- @if (placeDetails?.specialities) {
            <div class="d-flex">
                <h3>Unique Feature: </h3>
                <p>
                    @for (speciality of placeDetails?.specialities; track $index) {
                        @if (speciality.isUnique) {
                            @if ($index !== 0) {
                                <span aria-labelledby="">, {{ speciality.speciality }}</span>
                            } @else {
                                <span>{{ speciality.speciality }}</span>
                            }
                        }
                    }
                </p>
            </div>
            } -->
            @if (placeDetails?.specialities) {
            <h3>
                Unique Features:
            </h3>
            <ol>
                @for (specialities of placeDetails?.specialities; track $index) {
                @if (specialities.isUnique) {
                <li>{{ specialities.speciality }}</li>
                }
                }
            </ol>
            }
            @if (placeDetails?.specialities) {
            <h3>
                Other Features:
            </h3>
            <ol>
                @for (specialities of placeDetails?.specialities; track $index) {
                @if (!specialities.isUnique) {
                <li>{{ specialities.speciality }}</li>
                }
                }
            </ol>
            }
        </section>
        <section class="row travel-guide">
            <h2>Travel Guide for {{placeDetails?.postName}}</h2>
            @if (placeDetails?.bestTimeToVisit) {
            <div class="col-lg-12">
                <div class="guide-section">
                    <h3>Best Time to Visit {{placeDetails?.postName}}</h3>
                    <!-- <p>{{ placeDetails?.bestTimeToVisit }}</p> -->
                    <p [innerHTML]="commonService.sanitizeHtml(placeDetails?.bestTimeToVisit)"></p>
                </div>
            </div>
            }
            @if (placeDetails?.famousFor) {
            <div class="col-lg-12">
                <div class="guide-section">
                    <h3> {{placeDetails?.postName}} is Famous For</h3>
                    <!-- <p>{{ placeDetails?.famousFor }}</p> -->
                    <p [innerHTML]="commonService.sanitizeHtml(placeDetails?.famousFor)"></p>
                </div>
            </div>
            }
            @if (placeDetails?.howToGo) {
            <div class="col-lg-12">
                <div class="guide-section">
                    <h3>How to Go {{placeDetails?.postName}}</h3>
                    <!-- <p>{{ placeDetails?.howToGo }}</p> -->
                    <p [innerHTML]="commonService.sanitizeHtml(placeDetails?.howToGo)"></p>
                </div>
            </div>
            }
            @for (guide of placeDetails?.travelGuide; track $index) {
            @if ((guide.para) && guide.title) {
            <div class="col-lg-12">
                <div class="guide-section">
                    <h3>{{ guide.title }}</h3>
                    <p [innerHTML]="commonService.sanitizeHtml(guide.para)"></p>
                    @if ((guide.bulletPoints && guide.bulletPoints.length > 0)) {
                    <ol>
                        @for (item of guide.bulletPoints; track $index) {
                        <li>{{item}}</li>
                        }
                    </ol>
                    }
                </div>
            </div>
            }
            }
        </section>
    </article>
</main>