<footer>
    <div class="content">
        <div class="section1">
            <div class="logo">
                <img loading="lazy" src="assets/icons/ChaloGhoome-logo-new.png" alt="Chalo Ghoome logo" class="">
            </div>
        </div>
        <div class="section2">
            <div class="left">
                <h4>Important Links </h4>
                <ul>
                    <!-- <li><a (click)="navigateTo('/')">Travel Stories</a></li> -->
                    @for (section of sections; track $index) {
                    <li>
                        <a routerLink="home" (click)="scrollTo(section.sectionId)">
                            {{section?.sectionName}}
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <div class="right">
                <h4>Referances</h4>
                <ul>
                    <li><a href="https://www.wikipedia.com" target="_blank">Wikipedia</a></li>
                    <li><a href="https://www.travelindia.gov.in" target="_blank">travelindia.gov.in</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="section3"></div> -->
        <div class="section4">
            <h4>Our Social Media Links</h4>
            <!-- <div class="social-media-links">
                <div class="link">
                    <a href="https://www.twitter.com/chalo_ghoome" target="_blank">
                        <img loading="lazy" src="../assets/icons/twitter-x.png" alt="Chalo Ghoome Twitter">
                    </a>
                </div>
                <div class="link">
                    <a href="https://www.linkedin.com/company/chalo-ghoome" target="_blank">
                        <img loading="lazy" src="../assets/icons/linkedin.png" alt="Chalo Ghoome LinkedIn">
                    </a>
                </div>
            </div> -->
            <ul>
                <li>
                    <a href="https://www.twitter.com/chalo_ghoome" target="_blank">
                        <i class="fab fa-x-twitter icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/chalo-ghoome" target="_blank">
                        <i class="fab fa-linkedin-in icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright-msg">
        <p>&copy; 2024 chaloghoome.com | All Rights Reserved</p>
    </div>
</footer>