<div class="poster-image">
    <div class="poster-upload">
        <input id="posterFileInput" type="file" (change)="uploadPoster($event)" accept="image/*" style="display: none">
        <button type="button" class="btn cam-icon" (click)="openPosterFileInput()"><img
                src="../../../assets/icons/cam-icon-blue.png" alt=""></button>
    </div>
    @if(posterUrl){
    <img [src]="posterUrl" alt="Poster Image" class="poster">
    }@else {
    <img [src]="posterDefaultUrl" alt="Poster Image" class="poster">
    }
</div>
<div class="profile-page">
    <div class="left-side">
        <div class="profile-header">
            <div class="profile-card">
                <div class="profile-picture">
                    <div class="profile-upload">
                        <input id="profileFileInput" type="file" (change)="uploadProfile($event)" accept="image/*"
                            style="display: none">

                        <button type="button" class="btn cam-icon" (click)="openProfileFileInput()"><img
                                src="../../../assets/icons/cam-icon-blue.png" alt=""></button>
                    </div>
                    @if(profileUrl){
                    <img [src]="profileUrl" alt="Profile Picture" class="profile">
                    }
                    @else {
                    <img [src]="profileDefaultUrl" alt="Profile Picture" class="profile">
                    }
                </div>
                <div class="user-info">
                    <div class="nameAndRating">
                        <h2>Vipul Gawade</h2>
                        <div class="ratings">
                            <span class="star fill">&starf;</span>
                            <span class="star fill">&starf;</span>
                            <span class="star fill">&starf;</span>
                            <span class="star fill">&starf;</span>
                            <span class="star">&star;</span>
                            <span class="count">200</span>
                        </div>
                        <!-- <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div> -->
                    </div>
                    <a href="">&commat;vipulgawade</a>
                    <div class="business-info">
                        <span>Guide</span>
                        <span>(Grand Resort)</span>
                        <span>Raigad</span>
                    </div>
                    <div class="checks">
                        <div class="chip">
                            <img loading="lazy" src="../../../assets/svgs/certificate-icon.svg" alt="">
                            <h4>Verified</h4>
                        </div>
                        <div class="chip">
                            <img loading="lazy" src="../../../assets/svgs/certificate-icon.svg" alt="">
                            <h4>Certified</h4>
                        </div>
                    </div>
                </div>
                <div class="notification">
                    <img loading="lazy" src="../../../assets/svgs/bell-icon.svg" alt="">
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <!-- User Details -->
            <div class="row user-details">
                <div class="col-md-6 bio">
                    <h2 class="label">Bio : </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sequi inventore quo. Nam,
                        saepe
                        aliquid hic distinctio laboriosam adipisci quod? Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Atque sequi inventore quo. Nam, saepe
                        aliquid hic distinctio laboriosam adipisci quod?</p>
                </div>
                <div class="col-md-6 links">
                    <h2 class="label">Links : </h2>
                    <ul>
                        <li class="link"><a href="#">www.example1.com</a></li>
                        <li class="link"><a href="#">www.example2.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-primary">Make Buddy</button>
                <button type="button" class="btn btn-light text-black">Message</button>
                <button type="button" class="btn btn-light text-black">Contact</button>
                <button type="button" class="btn btn-light text-black" (click)="openModal()">Edit Profile</button>
                <button type="button" class="btn btn-light text-black">Share Profile</button>
            </div>
            <div class="analytics-details">
                <div class="card" (click)="scrollTo('activities')">
                    <img loading="lazy" src="../../../assets/svgs/story-book.svg" alt="">
                    <div class="det">
                        <h2>30</h2>
                        <h6>Travel Stories</h6>
                    </div>
                </div>
                <div class="card" (click)="navigateTo('buddies')">
                    <img loading="lazy" src="../../../assets/svgs/multiple-user-icon.svg" alt="">
                    <div class="det">
                        <h2>440</h2>
                        <h6>Buddies</h6>
                    </div>
                </div>
                <div class="card">
                    <img loading="lazy" src="../../../assets/svgs/guide-with-user.svg" alt="">
                    <div class="det">
                        <h2>320</h2>
                        <h6>Travel Guides</h6>
                    </div>
                </div>
                <div class="card">
                    <img loading="lazy" src="../../../assets/svgs/service-icon.svg" alt="">
                    <div class="det">
                        <h2>30</h2>
                        <h6>Services</h6>
                    </div>
                </div>
                <div class="card" (click)="openCertificateModal()">
                    <img loading="lazy" src="../../../assets/svgs/certificate-icon.svg" alt="">
                    <div class="det">
                        <h2>30</h2>
                        <h6>Certificates</h6>
                    </div>
                </div>
                <div class="card">
                    <img loading="lazy" src="../../../assets/svgs/achievement-icon.svg" alt="">
                    <div class="det">
                        <h2>30</h2>
                        <h6>Achievements</h6>
                    </div>
                </div>
            </div>
            <!-- Post Section (Placeholder) -->
            <div class="buddy-section">
                <div class="buddies-list">
                    <div class="head">
                        <h2>People You may know</h2>
                        <button type="button" class="see-all-btn">See All <span><img
                                    src="../../../assets/svgs/back-arrow-black.svg" alt=""></span></button>
                    </div>
                    <div class="card-container">
                        @for(buddy of buddies; track $index){
                        <app-buddy-card [buddyDetails]="buddy"></app-buddy-card>
                        }
                    </div>
                </div>
            </div>
            <div class="post-section" id="activities">
                <div class="section-header">
                    <h2>My Activities</h2>
                </div>
                <!-- Placeholder for posts -->
                <div class="post">
                    <app-posts></app-posts>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <div class="right-side">
        <!-- contacts -->
        <div class="contact-section">
            <div class="section-header">
                <h3>Contact Information</h3>
            </div>
            <div class="section-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>Contact</div>
                        <div class="value">9695848494</div>
                    </li>
                    <li class="list-group-item">
                        <div>Altername Contact</div>
                        <div class="value">9695848494</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="language-section">
            <div class="section-header">
                <h3>Languages</h3>
            </div>
            <div class="section-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>English</div>
                        <div class="value">Read, Write, Talk</div>
                    </li>
                    <li class="list-group-item">
                        <div>Hindi</div>
                        <div class="value">Read, Write, Talk</div>
                    </li>
                    <li class="list-group-item">
                        <div>Spanish</div>
                        <div class="value">Talk</div>
                    </li>
                    <li class="list-group-item">
                        <div>French</div>
                        <div class="value">Write, Talk</div>
                    </li>
                    <li class="list-group-item">
                        <div>Arabi</div>
                        <div class="value">Read, Talk</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="suggestions-section">
            <div class="section-header">
                <h3>Suggestions</h3>
            </div>
            <div class="section-body">
            </div>
        </div>
    </div>
</div>
<app-edit-profile [isOpen]="isModalOpen" (toggelModal)="toggleModal($event)"></app-edit-profile>
@if(showModal){
<app-custom-cropper-modal (onCloseModal)="closeModal()" [imageChangedEvent]="imageChangedEvent"
    (onImageCropped)="onPosterSelected($event)" [fileName]="fileName"
    [aspectRatio]="aspectRatio"></app-custom-cropper-modal>
}
@if (commonService.showHideCertificateModal) {
    <app-certificates (toggelModal)="openCertificateModal()"></app-certificates>
}