$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);


// variables.scss
$primary-color: #0077b6; // Oceanic blue
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;

// $font-family-base: 'Arial';
$font-size-base: 16px;

$border-radius: 4px;

$navbar-height: 50px;

$header-inline-padding: 40px;

