@use '../../../../../styles/variables' as *;
// ==================================
// Color Variables
// ==================================
$primary-color: #007BFF;
$primary-dark: #4141f5;
$header-color: var(--text-color);
$text-color: var(--text-color);
$secondary-background-color: rgb(74 126 246);
$background-color: var(--bg-color);
$section-bg: var(--bg-color);
$section-shadow: rgba(0, 0, 0, 0.1);
$gallery-shadow: rgba(0, 0, 0, 0.1);
$gallery-hover-shadow: rgba(0, 0, 0, 0.2);
$blur-overlay: rgba(0, 0, 0, 0.3);
$fun-fact-bg: $primary-color;
$testimonial-bg: $primary-color;
$testimonial-border: #4141f5;
$attraction-title: #4141f5;
$attraction-text: #555;
$hero-overlay: #0404048e;
$load-more-bg: #0000007a;

h3 {
    // font-size: 1.5em;
    // margin-bottom: 10px;
    padding-bottom: 20px;
    color: var(--text-color);
    border-bottom: 2px solid #007BFF;
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 20px;

    @media (max-width: 768px) {
        width: 100%;
    }
}

main {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: calc(100vh - 80px);
    padding-top: var(--header-height);

    .hero {
        position: relative;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        color: white;

        @media (max-width: 768px) {
            height: 60vh;
        }

        @media (max-width: 500px) {
            height: 50vh;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: inherit;
            background-size: cover;
            background-position: center;
            filter: blur(5px) brightness(0.8);
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: $blur-overlay;
            z-index: 2;
        }

        .hero-content {
            position: relative;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            height: 100%;
            // padding-top: 50px;

            h1 {
                color: #fff;
                margin: 0;
                // font-size: 2rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                z-index: 10;
                padding: 20px 10px;
                transform: translate(-50%, 0);
                background: $hero-overlay;
                width: 100%;
                backdrop-filter: blur(5px);
            }

            .main-hero-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
                aspect-ratio: auto;
                background-image: url('../../../../../assets/imgs/image-placeholder.jpg');
            }
        }
    }

    section {
        // background: $section-bg;
        border-radius: 8px;
        box-shadow: 0 2px 10px $section-shadow;
        // margin: 20px 0;
        padding: 20px;

        .feature-grid,
        .guide-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;

            .feature-card,
            .guide-card {
                background: $primary-color;
                color: white !important;
                padding: 15px;
                border-radius: 8px;
                text-align: left;
                transition: background 0.3s, transform 0.3s;

                h3 {
                    text-align: center;
                    color: white !important;
                }

                h4 {
                    // font-size: 14px;
                    margin: 0;
                    padding: 0;
                }

                &:hover {
                    background: $primary-dark;
                    transform: translateY(-5px);
                }
            }
        }

        @media (max-width: 768px) {
            padding: 20px 0 !important;
        }
    }

    .gallery {
        padding: 40px 0;

        .gallery-container {
            position: relative;

            .gallery-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;

                .image-wrapper {
                    flex: 1 1 calc(25% - 20px);
                    height: 200px;
                    width: 30px;
                    border-radius: 15px;
                    overflow: hidden;
                    transition: transform 0.3s, box-shadow 0.3s;
                    box-shadow: 0 4px 10px $gallery-shadow;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 8px 20px $gallery-hover-shadow;
                    }
                }

                @media (max-width: 990px) {
                    .image-wrapper {
                        flex: 1 1 calc(50% - 20px);
                    }
                }

                @media (max-width: 768px) {
                    .image-wrapper {
                        flex: 1 1 100%;
                    }
                }

                .lastIndex {
                    position: relative;
                    overflow: hidden;
                }
            }

            .load-more {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: $load-more-bg;
                color: white;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                font-size: 16px;
                transition: background 0.3s;

                &:hover {
                    background-color: $primary-dark;
                }
            }
        }
    }

    .fun-facts {
        ul {
            list-style-type: none;
            padding: 0;

            li {
                background: $fun-fact-bg;
                margin: 10px 0;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }

    .testimonial-card {
        background: $testimonial-bg;
        border-left: 5px solid $testimonial-border;
        padding: 15px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .packing-items {
        list-style-type: none;
        padding: 0;

        li {
            background: $fun-fact-bg;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .nearby-attractions {
        h2 {
            // font-size: 2rem;
            margin-bottom: 20px;
            color: $text-color;
        }

        .attractions-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            justify-content: center;
            padding: 20px;

            .attraction-card {
                background: #fff;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h3 {
                    // font-size: 1.5rem;
                    margin: 15px 0;
                    color: $attraction-title;
                }

                p {
                    // font-size: 1rem;
                    padding: 0 15px 15px;
                    color: $attraction-text;
                }
            }
        }
    }

    .accordion-item {
        border: none;

        .accordion-header {
            margin: 0;
            padding: 0;
            background: $primary-color;
            color: var(--white);

            .accordion-button {
                background: $primary-color;

                &:not(.collapsed) {
                    background: $primary-color;
                    color: var(--white);
                    box-shadow: none;
                }

                &::after {
                    filter: brightness(0) invert(1);
                    /* To make the arrow icon white */
                }
            }

        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--white);
        }

        .accordion-body {
            background-color: var(--bg-color);
            /* Light grey body, optional */
            color: var(--text-color);
            border: 1px solid var(--primary-color);
        }
    }

}

:root {
    --bs-accordion-bg: --header-bg-color;
}

.tags-categories {
    // padding: 2rem 0;

    .tags-categories-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        // flex-direction: column;
    }

    .category-box,
    .tags-box {
        flex: 1;
        min-width: 280px;
    }

    h3 {
        // font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $color-white;
    }

    .category-list,
    .tags-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .category-item,
    .tag-item {
        background-color: #d1e7dd;
        color: #0f5132;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        font-size: 0.9rem;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: #93afa2;
            color: #034124;
        }
    }

    .tag-item {
        background-color: #cfe2ff;
        color: #084298;
    }
}

.place-not-found {

    .not-found-container {
        padding: 60px 20px !important;
        text-align: center;
        border-radius: 0px !important;

        h2 {
            font-size: 2rem;
            margin-bottom: 10px;
            // color: #0077b6;
        }

        p {
            // color: #555;
            margin-bottom: 20px;
        }

        .back-home-btn {
            background-color: var(--primary-color);
            color: var(--white);
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #005f8a;
            }
        }


        .not-found-image {
            width: 300px;
            margin-bottom: 20px;
        }
    }
}


.loading-place-details {

    .loading-container {
        padding: 50px 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
        margin: 0 !important;

        .skeleton-title,
        .skeleton-image,
        .skeleton-text {
            background: linear-gradient(90deg, #eeeeee, #9fb7ff, #eee);
            background-size: 200% 100%;
            animation: loading 1.5s infinite;
            border-radius: 6px;
        }

        .skeleton-title {
            width: 40%;
            height: 30px;
            margin-top: 70px;
        }

        .skeleton-image {
            width: 100%;
            height: 500px;
            border-radius: 0;
        }

        .skeleton-text {
            width: 70%;
            height: 20px;
            margin-top: 20px;
        }

        .skeleton-text.short {
            width: 50%;
            margin-top: 20px;
        }

        @keyframes loading {
            0% {
                background-position: 200% 0;
            }

            100% {
                background-position: -200% 0;
            }
        }
    }

}