<main class="body">
    @if (currentRoute === 'home') {
    <section id="about" class="about next-section">
        <div class="container">
            <!-- <h2>✨ About Us – Uniting Travelers & Travel Experts</h2> -->
            <h2>✨ About Us</h2>
            <div class="section image-on-right">
                <div class="text">
                    <p>We are on a mission to revolutionize the travel experience by creating a platform where
                        travelers, explorers, and service providers connect seamlessly.</p>
                    <p> At <span class="highlighted-text">Chalo Ghoome</span>, we recognize that travel is more than
                        just visiting a destination; it's about immersing yourself in diverse cultures, uncovering
                        hidden treasures, and crafting memories that last a lifetime. Whether you're an experienced
                        globetrotter or setting out on your maiden voyage, our platform is designed to inspire
                        and assist you at every turn.
                    </p>
                    <button type="button" (click)="commonService.navigateTo('about_us')"
                        class="explore-btn explore-about" style="--i:#FF9966;--j:#FF5E62">
                        <span class="title">Explore</span>
                    </button>
                </div>
                <div class="image">
                    <img src="../../../assets/imgs/pexels-vincent-rivaud-2265876.jpg" alt="About Us">
                </div>
            </div>
        </div>
    </section>
    }
    @if (currentRoute === 'about_us') {
    <!-- Hero Image Section -->
    <header class="hero">
        <div class="hero-content">
            <img class="main-hero-image" src="../../../assets/imgs/pexels-pawan-yadav-2577274.jpg" alt="About Us">
            <!-- Optional overlay text -->
            <div class="overlay-text">
                <h1>About Us</h1>
                <p>Discover the World with Chalo Ghoome</p>
            </div>
        </div>
    </header>
    <section>
        <div class="about2" id="about_us">
            <div class="container">
                <h2>✨ About Us</h2>
                <div class="section image-on-right">
                    <div class="text">
                        <p>
                            Welcome to <span class="highlighted-text">Chalo Ghoome</span>, the premier destination for
                            travel
                            enthusiasts worldwide. We're here to fuel your wanderlust and connect you with extraordinary
                            experiences that transcend the ordinary.
                        </p>
                        <p>
                            At <span class="highlighted-text">Chalo Ghoome</span>, we recognize that travel is more than
                            just
                            visiting a destination; it's about immersing yourself in diverse cultures, uncovering hidden
                            treasures, and crafting memories that last a lifetime. Whether you're an experienced
                            globetrotter or setting out on your maiden voyage, our platform is designed to inspire and
                            assist you at every turn.
                        </p>
                        <p>
                            <span class="highlighted-text">For travellers, Chalo Ghoome</span> offers a platform to
                            share your
                            Travel Tales, seek inspiration for your next escapade, and connect with like-minded
                            adventurers.
                            From <span class="highlighted-text">savvy budget tips to luxurious travel escapades</span>,
                            our
                            community-driven platform caters to every kind of explorer.
                        </p>
                        <p>
                            <span class="highlighted-text">For guides, Chalo Ghoome</span>is your platform to showcase
                            your
                            expertise, <span class="highlighted-text">engage with a global audience</span>, and create
                            personalized travel experiences. Whether you're a local guru offering insider insights or a
                            seasoned travel operator, our platform empowers you to <span class="highlighted-text">share
                                your
                                love
                                for travel and craft unforgettable journeys for explorers worldwide.</span>
                        </p>
                        <p>
                            <span class="highlighted-text">Join us at Chalo Ghoome</span> and unlock a world of travel
                            possibilities. Whether you dream of a serene beach getaway, an <span
                                class="highlighted-text">adrenaline-pumping mountain expedition </span>or an immersive
                            cultural
                            experience in a bustling city <span class="highlighted-text">Chalo Ghoome is your gateway to
                                turning
                                travel dreams into reality.</span>
                        </p>
                    </div>
                    <!-- <app-progressive-image [image]="'../../../assets/imgs/travel_guys_about-us.png'"
                        [altText]="'chalo ghoome about us boys'"></app-progressive-image> -->
                    <!-- <div class="image">
                        <img src="../../../assets/imgs/pexels-vincent-rivaud-2265876.jpg" alt="About Us">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    }
    <section class="whatwedo">
        <div class="container">
            <h2>📍 What We Do?</h2>
            <div class="section image-on-left">
                <div class="image">
                    <img src="../../../assets/imgs/what-we-do-2.jpg" alt="Travel Community">
                </div>
                <div class="text">
                    <ul>
                        <li><strong> ✔ Curated Travel Experiences </strong> <span> – Discover the best travel
                                destinations, handpicked for you</span></li>
                        <li><strong> ✔ Authentic Travel Insights </strong> <span>– Get real, first-hand
                                information
                                about places from fellow travelers.</span></li>
                        <li><strong> ✔ Virtual Assistance </strong> <span> – Need information before visiting?
                                We
                                provide detailed guides, local tips, and expert recommendations.</span></li>
                        <li><strong> ✔ Community Building</strong><span> – We are working towards a unified
                                travel
                                network
                                where travelers, local guides, and service providers can connect, collaborate,
                                and share
                                experiences.</span></li>
                        <!-- todo <li><strong> ✔ Community-Driven Platform </strong> <span></span></li>
                    <li><strong> ✔ Local & Regional Travel Guides </strong> <span></span></li>
                    <li><strong> ✔ Connect with Travel Service Providers </strong> <span></span></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="paralax">
        <div class="info container">
            <h2>Why choose us ? </h2>
            <div class="content-1">
                <div class="para">The tourism sector is rapidly embracing technology, reducing manual work. However,
                    it's
                    struggling to
                    capture the attention of targeted customers. Taking this challenge seriously, we offer a
                    separate
                    platform for tourism enthusiasts to share their travel stories. Travelers can tag the guides
                    they
                    booked
                    with us or without us. This approach is particularly beneficial for guides, helping them
                    reach a
                    targeted audience and grow their business. Travelers can also conveniently access
                    information about
                    available services remotely. Join us to explore, share, and connect!</div>
                <div class="para">🚀 Exclusive travel tips to make your journeys unforgettable.</div>
                <div class="para">🌎 A vibrant community of explorers ready to help you.</div>
                <div class="para">📍 Location-specific insights to discover hidden gems.</div>
                <div class="para">📢 Upcoming features like AI-powered planning, travel forums, and local service
                    bookings!</div>
            </div>
            <div class="content-2">
                <p class="para-sm">The tourism sector is rapidly embracing technology, reducing manual work. However, it's
                    struggling to
                    capture the attention of targeted customers. Taking this challenge seriously, we offer a
                    separate
                    platform for tourism enthusiasts to share their travel stories. Travelers can tag the guides
                    they
                    booked
                    with us or without us. This approach is particularly beneficial for guides, helping them
                    reach a
                    targeted audience and grow their business. Travelers can also conveniently access
                    information about
                    available services remotely. Join us to explore, share, and connect!
                </p>
                <p class="para-sm">🚀 Exclusive travel tips to make your journeys unforgettable.</p>
                <p class="para-sm">🌎 A vibrant community of explorers ready to help you.</p>
                <p class="para-sm">📍 Location-specific insights to discover hidden gems.</p>
                <p class="para-sm">📢 Upcoming features like AI-powered planning, travel forums, and local service
                    bookings!
                </p>
            </div>
        </div>
    </section>
    <section class="vision">
        <div class="container">
            <h2>🚀 Our Vision</h2>
            <div class="section image-on-right">
                <div class="text">
                    <p>We envision an interactive travel ecosystem where travelers can share experiences, get
                        AI-powered
                        recommendations, and connect with local businesses.</p>
                </div>
                <div class="image">
                    <img src="../../../assets/imgs/vision-3.jpg" alt="Our Vision">
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="about">
    <div class="container">
        <div class="section">
            <div class="text">
                <h2>🌍 Welcome to Chalo Ghoome</h2>
                <p>Chalo Ghoome is the premier destination for travel enthusiasts worldwide. We're here to fuel your
                    wanderlust and connect you with extraordinary experiences that transcend the ordinary.</p>
            </div>
            <div class="image">
                <img src="../../../assets/imgs/travel_guys_about-us.png" 
                alt="About Chalo Ghoome">
            </div>
        </div>

        <div class="section">
            <div class="image">
                <img src="../../../assets/imgs/travel_guys_about-us.png" 
                alt="Community">
            </div>
            <div class="text">
                <h2>📌 Our Mission</h2>
                <p>At Chalo Ghoome, we recognize that travel is more than just visiting a destination; it's about
                    immersing yourself in diverse cultures, uncovering hidden treasures, and crafting lifelong memories.
                </p>
            </div>
        </div>

        <div class="section">
            <div class="text">
                <h2>🚀 For Travelers</h2>
                <ul>
                    <li>✔ Share your Travel Tales</li>
                    <li>✔ Seek inspiration for your next journey</li>
                    <li>✔ Connect with like-minded adventurers</li>
                    <li>✔ Access budget tips and luxury travel guides</li>
                </ul>
            </div>
            <div class="image">
                <img src="../../../assets/imgs/travel_guys_about-us.png" 
                alt="For Travelers">
            </div>
        </div>

        <div class="section">
            <div class="image">
                <img src="../../../assets/imgs/travel_guys_about-us.png" 
                alt="For Guides">
            </div>
            <div class="text">
                <h2>🌟 For Guides</h2>
                <p>Chalo Ghoome is your platform to showcase your expertise, engage with a global audience, and create
                    personalized travel experiences for explorers worldwide.</p>
            </div>
        </div>
    </div>
</section> -->
</main>