<div class="buddies-card">
    <div class="card-image">
        <img [src]="buddyDetails.image" alt="{{ buddyDetails.name }}" class="">
    </div>
    <div class="card-body">
        <div class="card-title">
            <h2>{{ buddyDetails.name }}</h2>
            <a href="#">&#64;john_doe</a>
        </div>
        <div class="more-data">
            <div class="stories">
                <h2>45</h2>
                <h6>Travel Stories</h6>
            </div>
            <div class="buddies">
                <h2>4500</h2>
                <h6>Buddies</h6>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-light text-black">Make Buddy</button>
    </div>
</div>
