<div class="place-card image-exist" (click)="navigateTo(item)">
    <div class="place-image">
        <app-progressive-image [smallImage]="'../../../assets/imgs/pexels-pixabay-257092-small.jpg'"
            [image]="item.imageUrl" [altText]="item.location+','+item.address" (onImageLoaded)="imageLoaded($event)"></app-progressive-image>
    </div>
    <div class="place-info">
        <h2>{{item.location}}</h2>
        <h3>{{item.address}}</h3>
        <p>{{item.description | truncate: 120}}</p>
    </div>
</div>

<!-- <div class="skeleton-placeholder"></div> -->
