<div class="place-card" (clickOutside)="closeContextMenu()">
    <div class="place-image" (click)="navigateToPostDetails(item)">
        <app-progressive-image [smallImage]="'../../../assets/imgs/image-placeholder.jpg'" [image]="item.imageUrl"
            [altText]="item.location + ',' + item.address">
        </app-progressive-image>
    </div>
    <div class="place-info" (click)="navigateToPostDetails(item)">
        <h3 [title]="item.postName">{{item.postName | truncate : 25 }}</h3>
        <h4 [title]="item.location">{{item.location | truncate: 25 }}</h4>
        <p [title]="item.summary">{{item.summary | truncate: 120 }}</p>
    </div>
    @if (editable) {
    <div class="place-cta">
        <!-- Ellipsis button for context menu -->
        <button type="button" class="btn dots-btn" (click)="openContextMenu(item);">
            <img src="../../../assets/svgs/3-dots.svg" alt="options-icon">
        </button>
        @if (contextMenuVisible) {
        <div class="context-menu">
            <ul>
                <li (click)="addHighlighs(item)">Add Highlights</li>
                <li (click)="editPlace(item)">Edit</li>
                <li (click)="deletePlace(item)">Delete</li>
            </ul>
        </div>
        }
    </div>
    }
</div>

<!-- <div class="skeleton-placeholder"></div> -->