<!-- <app-place-details></app-place-details> -->
<!-- <app-place-details-new></app-place-details-new> -->
<section>
    <div class="container">
        <div class="section-header">
            <h2>Places</h2>
            <p class="section-desc">Discover your next adventure with our friendly places list — explore top travel
                spots, hidden gems, and must-visit destinations in one click!</p>
            <div class="place-information">
                <p><small> Total {{places.length || 0}} Places Found</small></p>
                <div class="local-search">
                    <input type="text" class="form-control" name="localSearch" id="localSearch"
                        placeholder="Search Places" (input)="onLocalSearch($event)">
                </div>
            </div>
        </div>
        @if (cardEditable) {
        <button type="button" class="btn btn-primary" (click)="showHideAddPostForm()">+</button>
        }
        @if (filteredPlaces && filteredPlaces.length > 0) {
        @if (cardEditable) {
        <div class="travel-card-container grid-container">
            @for (item of filteredPlaces; track $index) {
            <app-place-card [item]="item" [editable]="cardEditable" (onNavigateTo)="navigateTo($event)"
                (onEditClicked)="onEditCard($event)" (onDeleteClicked)="deletePost($event)"></app-place-card>
            }
        </div>
        } @else {
        <div class="card-grid grid-view">
            @for (post of filteredPlaces; track $index) {
            <div class="card">
                <a class="link" [routerLink]="['/place', post.slugifiedPostName]">
                    <img [src]="post.thumbnailImg ? commonService.appendAssetUrl(post.thumbnailImg) : '../../../assets/imgs/image-placeholder.jpg'"
                        alt="{{ post.postName }} {{post.location}}" />
                    <h4 class="place-name" [title]="post.postName">
                        <a>{{ post.postName | truncate: 20 }}</a>
                    </h4>
                    <p class="location" [title]="post.location">{{ post.location | truncate: 30 }}</p>
                    <p class="summary" [title]="post.summary">{{ post.summary | truncate: 100 }}</p>
                    <button type="button" class="btn btn-center">View Details</button>
                </a>
            </div>
            }
        </div>
        }
        }
        @else {
        <h5 style="width: 100%;text-align: center;height: calc(100vh - 100px);">
            No records found
        </h5>
        }
    </div>
</section>

@if (showHidePostForm) {
<app-add-post [placeDetails]="selectedCard" (onCloseModal)="closePostPopup()"
    (onPostUpdate)="onPostUpdate()"></app-add-post>
}

@if (commonService.isAddHighlightModal) {
<app-highlights-modal [isModalOpen]="commonService.isAddHighlightModal" [cardDetails]="commonService.selectedCard"
    (onCloseModal)="closeHighlightModal()"></app-highlights-modal>
}