<section>
    <div class="left-sidebar"></div>
    <div class="dashboard-feed">
        <section class="feeds">
            <!-- Search Bar -->
            @if(showSearchBar()){
            <form class="d-flex">
                <input class="form-control search-btn" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn" type="submit"><mat-icon>search</mat-icon></button>
            </form>
            }
            <div class="new-post">
                <button type="button" class="btn btn-sm btn-primary" (click)="openModal()">
                    <div class="main-text">
                        <h2>Add Travel Story</h2>
                    </div>
                    <small>Write your travel experience here!</small>
                </button>
            </div>
            <div class="post">
                <app-posts></app-posts>
            </div>
        </section>
    </div>
    <div class="right-sidebar">
        <app-right-hand-sidebar></app-right-hand-sidebar>
    </div>
</section>
<app-add-new-post [isOpen]="isModalOpen" (toggelModal)="toggleModal($event)"></app-add-new-post>