<main>
    @for(post of postData; track $index){
    <div class="post">
        <div class="user-info">
            <div class="user-profile">
                <img [src]="post.user.userProfile" alt="profile-pic" class="profile-pic">
            </div>
            <div class="postedBy">
                <span class="username">{{ post.user.username }}</span>
                <span class="location">London</span>
                <span class="time">30-12-2023</span>
            </div>
        </div>
        <div class="post-details">
            <div class="post-context">
                <p>{{post.postDetails.postDescription}}</p>
                @for(tag of post.tags; track $index){
                <span>&nbsp;<a  href="javascript:void(0)">#{{tag}}</a></span>
                }
            </div>
            <div class="post-images" (dblclick)="likePostByDblClick(post)">
                @if(post.postDetails.images.length === 1){
                <img [src]="post.postDetails.images[0]" alt="Post Image" class="post-image single-image">
                }
    
                @if(post.postDetails.images.length > 1){
                <div class="multiple-images">
                    @for(image of post.postDetails.images; track $index){
                    <div class="image-container">
                        <img [src]="image" alt="Post Image" class="post-image multiple-image">
                    </div>
                    }
                </div>
                }
                @if(showLikeAnimation){
                <img src="../../../assets/special-icons/heart.png" class="like-animation" alt="like-animation">
                }
            </div>
            <div class="interactions">
                <div class="likes">
                    <img [src]="post.liked ? 'assets/special-icons/heart.png' : 'assets/special-icons/empty-heart.png'"
                        alt="heart">
                    <span>{{ post.postDetails.likes }}</span>
                </div>
                <div class="comments">
                    <img src="../../../assets/special-icons/message-icon.png" alt="comment">
                    <span>{{ post.postDetails.comments }}</span>
                </div>
            </div>
            <div class="post-actions">
                @if(post.liked){
                <button type="button" class="custom-action-btn" (click)="likePostBySingleClick(post)">Unlike</button>
                }
                @else {
                <button type="button" class="custom-action-btn" (click)="likePostBySingleClick(post)">Like</button>
                }
                <button type="button" class="custom-action-btn">Comment</button>
                <button type="button" class="custom-action-btn">Forward</button>
            </div>
        </div>
    </div>
    }
</main>