<header (clickOutside)="closeSidebar()">
    @if (showNav()) {
    <nav #navbar class="navbar navbar-expand-lg navbar-light" [class.shadow]="isScrolled || isMobileView">
        <div class="custom-container bgColor">
            <a class="navbar-brand" routerLink="/home">
                <img loading="lazy" src="../assets/icons/chalo-ghoome-title-logo.png" alt="Chalo Ghoome logo"
                    class="image1">
                <img loading="lazy" src="assets/icons/ChaloGhoome-logo-new.png" alt="Chalo Ghoome logo" class="image2">
                <!-- <picture>
                    <source srcset="assets/icons/ChaloGhoome-logo-new.webp" type="image/webp">
                    <img src="assets/icons/ChaloGhoome-logo-new.png" alt="Description">
                </picture> -->
            </a>
            <div class="search-form" [class.expanded]="isExpanded()" (clickOutside)="disconnectWebsocket()">
                <form (ngSubmit)="onSearch()" (clickOutside)="showSuggestions = false"
                    [class.floating-search]="isScrolled">
                    <div class="search-bar">
                        <input type="text" #searchInput [(ngModel)]="searchQuery" title="Shortcut: Ctrl + /"
                            name="searchQuery" (input)="onInputChange()"
                            (focus)="connectWebsocket();showSuggestions = true" class="search-input"
                            placeholder="Search places..." required autocomplete="off" />
                        @if (!isExpanded()) {
                        <button type="button" (click)="expandSearchBar()" class="search-btn">
                            <i class="fa fa-search icon"></i>
                        </button>
                        } @else {
                        <button type="submit" class="search-btn">
                            <i class="fa fa-search icon"></i>
                        </button>
                        }
                    </div>
                    @if (showSuggestions) {
                    <div class="suggestions" [class.active]="suggestionsFetched()">
                        @if (searchQuery) {
                        @if (filteredSuggestions && filteredSuggestions.length > 0) {
                        <div class="box">
                            @for (suggestion of filteredSuggestions; track $index) {
                            @if (suggestion.list?.length > 0) {
                            <div class="section-title">{{ suggestion.label }}</div>
                            <ul>
                                @for (post of suggestion.list; track $index) {
                                <li class="item">
                                    <div class="places" (click)="selectSuggestion(post.postName)">
                                        <img *ngIf="post.thumbnailImg"
                                            [src]="commonService.appendAssetUrl(post.thumbnailImg)"
                                            class="post-image" />
                                        <div class="post-info">
                                            <div class="post-name">{{ post.postName }}</div>
                                            <div class="post-location">{{ post.location }}</div>
                                            <div class="post-summary">{{ post.summary | truncate: 100 }}</div>
                                        </div>
                                    </div>
                                </li>
                                }
                            </ul>
                            }
                            }
                        </div>
                        } @else {
                        <div class="box">
                            <div class="section-title">Loading places...</div>
                        </div>
                        }
                        } @else if (commonService.places && commonService.places.length > 0) {
                        <div class="box">
                            <div class="section-title">Most Searched</div>
                            <ul>
                                @for (item of commonService.places; track $index) {
                                <li class="item" (click)="selectSuggestion(item)">
                                    <span>{{ item }}</span>
                                </li>
                                }
                            </ul>
                        </div>
                        }
                    </div>
                    }
                </form>
            </div>
            <div class="right" style="text-align: end;">
                <!-- Hamburger Menu for Mobile -->
                <button class="hamburger" (click)="toggleSidebar($event);collapseSearchBar()">
                    &#9776;
                </button>
                <div class="navbar-wrapper">
                    <ul class="custom-navbar-nav">
                        <!-- Header -->
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="toggleSidebar($event)">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about_us">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact_us">Contact</a>
                        </li>
                        @if (false) {
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" routerLink="/register">Sign In</a>
                        </li>
                        }
                        <!-- <div class="d-flex align-items-center profile-section" (click)="toggleProfileMenu()"
                            (clickOutside)="closeProfileMenu()">
                            <img loading="lazy" src="../assets/avatars/2.jpg" alt="Profile Picture" class="profile-pic">
                            @if(profileModal){
                            <div class="card profile-card">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" (click)="redirectTo('profile')">View Profile</li>
                                        <li class="list-group-item" (click)="redirectTo('login')">Logout</li>
                                    </ul>
                                </div>
                            </div>
                            }
                        </div> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <div class="sidebar" [class.open]="commonService.isSidebarOpen()">
        <button class="close-btn left-arrow" (click)="closeSidebar()">&leftarrow;</button>
        <button class="close-btn right-icon" (click)="closeSidebar()">&Cross;</button>
        <ul class="sidebar-menu">
            <li #menuItem *ngFor="let section of sections; trackBy: trackByIndex">
                <!-- (click)="scrollTo(section.sectionId); closeSidebar()" -->
                <a href="#" [routerLink]="['places', section.sectionId]" (click)="closeSidebar()">
                    {{ section?.sectionName }}
                </a>
            </li>
            <li #menuItem>
                <a class="nav-link" routerLink="/places" (click)="closeSidebar()">Places</a>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/about_us" (click)="closeSidebar()">About</a>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/contact_us" (click)="closeSidebar()">Contact</a>
            </li>
            @if (false) {
            <li #menuItem class="nav-item">
                <a class="nav-link" href="javascript:void(0)" routerLink="/register">Sign In</a>
            </li>
            }
        </ul>
    </div>
    }
</header>