<header (clickOutside)="closeSidebar()">
    @if (showNav()) {
    <nav #navbar class="navbar navbar-expand-lg navbar-light shadow">
        <div class="custom-container bgColor">
            <div #navbarBrand class="navbar-brand">
                <a routerLink="/home">
                    @if (commonService.selectedTheme === 'dark') {
                    <img loading="lazy"
                        src="https://github.com/gaikwadmanoj1016/Assets/blob/main/001_02psd.jpg?raw=true"
                        alt="Chalo Ghoome logo" class="image1">
                    } @else {
                    <img loading="lazy" src="https://github.com/gaikwadmanoj1016/Assets/blob/main/001.jpg?raw=true"
                        alt="Chalo Ghoome logo" class="image1">
                    }
                </a>

                <!-- <div class="brand-name">
                    <p #container class="text brand-logo" aria-hidden="true">
                        <strong>Chalo <span class="highlighted-text">Ghoome</span></strong>
                    </p>
                </div> -->
                <div class="brand-name">
                    <p class="text brand-logo" aria-hidden="true">
                        <strong>
                            <span class="word">Chalo</span>
                            <span class="word highlighted-text">Ghoome</span>
                        </strong>
                    </p>
                </div>
            </div>
            <div class="right" style="text-align: end;">

                <div class="navbar-wrapper">
                    <ul class="custom-navbar-nav">
                        <!-- Header -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/travel-categories">Travel Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/places">Places</a>
                        </li>
                        <li class="nav-item" (clickOutside)="closeDropdown()">
                            <a class="nav-link" (click)="toggleDropdown($event)">Featured
                                <span class="icon">
                                    <!-- Chevron SVG icon -->
                                    <svg class="chevron" width="16" height="16" viewBox="0 0 24 24">
                                        <path d="M6 9l6 6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown-menu" [class.active]="commonService.isDropdownOpen()">
                                <li #menuItem *ngFor="let section of sections; trackBy: trackByIndex">
                                    <!-- (click)="scrollTo(section.sectionId); closeSidebar()" -->
                                    <a class="link" [routerLink]="['places', section.slugifiedSectionName]"
                                        (click)="closeSidebar()">
                                        {{ section?.sectionName }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about_us">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact_us">Contact</a>
                        </li>
                        @if (false) {
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" routerLink="/login">Sign In</a>
                        </li>
                        }
                        <!-- <div class="d-flex align-items-center profile-section" (click)="toggleProfileMenu()"
                            (clickOutside)="closeProfileMenu()">
                            <img loading="lazy" src="../assets/avatars/2.jpg" alt="Profile Picture" class="profile-pic">
                            @if(profileModal){
                            <div class="card profile-card">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" (click)="redirectTo('profile')">View Profile</li>
                                        <li class="list-group-item" (click)="redirectTo('login')">Logout</li>
                                    </ul>
                                </div>
                            </div>
                            }
                        </div> -->
                    </ul>
                </div>
            </div>
            <!-- Hamburger Menu for Mobile -->
            <div class="cta">
                <div class="search-form">
                    <app-search-bar [isScrolled]="isScrolled" [defaultExpanded]="false"></app-search-bar>
                </div>
                <div class="toggle-btn-wrapper">
                    <button class="premium-toggle" (click)="toggleTheme()">
                        <span>{{ commonService.selectedTheme === 'dark' ? '☀️' : '🌙' }}</span>
                    </button>
                </div>
                <button class="hamburger" (click)="toggleSidebar($event);">
                    &#9776;
                </button>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <div class="sidebar" [class.open]="commonService.isSidebarOpen()">
        <button class="close-btn left-arrow" (click)="closeSidebar()">&leftarrow;</button>
        <button class="close-btn right-icon" (click)="closeSidebar()">&Cross;</button>
        <ul class="sidebar-menu">
            <!-- (click)="scrollTo(section.sectionId); closeSidebar()" -->
            <!-- <li #menuItem *ngFor="let section of sections; trackBy: trackByIndex">
                <a [routerLink]="['places', section.slugifiedSectionName]" (click)="closeSidebar()">
                    {{ section?.sectionName }}
                </a>
            </li> -->
            <li #menuItem class="nav-item" [class.toggle]="commonService.isSidebarDropdownOpen()" (clickOutside)="closeSidebarDropdown()">
                <a class="nav-link" (click)="toggleSidebarDropdown($event)">Featured
                    <span class="icon">
                        <!-- Chevron SVG icon -->
                        <svg class="chevron" width="16" height="16" viewBox="0 0 24 24">
                            <path d="M6 9l6 6 6-6" fill="none" stroke="currentColor" stroke-width="2" />
                        </svg>
                    </span>
                </a>
                <ul class="dropdown-menu" [class.active]="commonService.isSidebarDropdownOpen()">
                    <li class="nav-item" *ngFor="let section of sections; trackBy: trackByIndex">
                        <!-- (click)="scrollTo(section.sectionId); closeSidebar()" -->
                        <a class="link" [routerLink]="['places', section.slugifiedSectionName]"
                            (click)="closeSidebar()">
                            {{ section?.sectionName }}
                        </a>
                    </li>
                </ul>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/travel-categories" (click)="closeSidebar()">Travel Categories</a>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/places" (click)="closeSidebar()">Places</a>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/about_us" (click)="closeSidebar()">About</a>
            </li>
            <li #menuItem class="nav-item">
                <a class="nav-link" routerLink="/contact_us" (click)="closeSidebar()">Contact</a>
            </li>
            @if (false) {
            <li #menuItem class="nav-item">
                <a class="nav-link" href="javascript:void(0)" routerLink="/register">Sign In</a>
            </li>
            }
            <button class="premium-toggle" (click)="toggleTheme()">
                <span>{{ commonService.selectedTheme === 'dark' ? '☀️' : '🌙' }}</span>
            </button>
        </ul>
    </div>
    }
</header>