<header>
    @if (showNav()) {
    <nav #navbar class="navbar navbar-expand-lg navbar-light" [class.shadow]="isScrolled || isMobileView">
        <div class="custom-container" [class.bgColor]="addClass()">
            <a class="navbar-brand" href="javascript:void(0)" (click)="navigateTo('home')">
                <img loading="lazy" src="../assets/icons/chalo-ghoome-title-logo.png" alt="Chalo Ghoome logo"
                    class="image1">
                <img loading="lazy" src="assets/icons/ChaloGhoome-logo-new.png" alt="Chalo Ghoome logo" class="image2">
                <!-- <picture>
                    <source srcset="assets/icons/ChaloGhoome-logo-new.webp" type="image/webp">
                    <img src="assets/icons/ChaloGhoome-logo-new.png" alt="Description">
                </picture> -->
            </a>
            <!-- <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Featured</a>
                <ul class="dropdown-menu">
                    @for (section of commonService.sections; track $index) {
                    <li>
                        <a class="dropdown-item" routerLink="home" (click)="scrollTo(section.sectionId)">
                            {{section.sectionName}}
                        </a>
                    </li>
                    }
                </ul>
            </div> -->
            <div class="navbar-wrapper inline-sections">
                <ul class="custom-navbar-nav">
                    @for (section of commonService.sections; track $index) {
                    <li>
                        <a class="dropdown-item" routerLink="home" (click)="scrollTo(section.sectionId)">
                            {{section.sectionName}}
                        </a>
                    </li>
                    }
                </ul>
            </div>

            <div class="right" style="text-align: end;">
                <!-- Hamburger Menu for Mobile -->
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="navbar-wrapper ">
                    <ul class="custom-navbar-nav">
                        <!-- <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('/')">Travel Stories</a>
                    </li> -->

                        <li class="nav-item nav-featured">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Featured</a>
                            <ul class="dropdown-menu">
                                @for (section of commonService.sections; track $index) {
                                <li>
                                    <a class="dropdown-item" routerLink="home" (click)="scrollTo(section.sectionId)">
                                        {{section.sectionName}}
                                    </a>
                                </li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about_us">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact_us">Contact</a>
                        </li>
                        <!-- @if (false) {
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/register">Sign In</a>
                    </li>
                    }
                    <div class="d-flex align-items-center profile-section" (click)="toggleProfileMenu()" (clickOutside)="closeProfileMenu()">
                        <img loading="lazy" src="../assets/avatars/2.jpg" alt="Profile Picture" class="profile-pic">
                        @if(profileModal){
                        <div class="card profile-card">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item" (click)="redirectTo('profile')">View Profile</li>
                                    <li class="list-group-item" (click)="redirectTo('login')">Logout</li>
                                </ul>
                            </div>
                        </div>
                        }
                    </div> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    }
</header>