<!-- navigation.component.html -->
<main>
    @if (showNav()) {
    <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.shadow]="isScrolled">
        <div class="custom-container">
            <!-- Hamburger Menu for Mobile -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
    
            <a class="navbar-brand" href="javascript:void(0)" routerLink="/dashboard">
                <!-- <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top"> -->
                Logo
            </a>
    
            <!-- Profile Button -->
            <div class="d-flex align-items-center profile-section">
                <img src="../assets/avatars/2.jpg" (click)="openProfile()" alt="Profile Picture" class="profile-pic me-2">
            </div>
            @if(profileModal){
            <div class="card profile-card">
                <div class="card-header">
                    <img src="../assets/avatars/2.jpg" (click)="openProfile()" alt="Profile Picture"
                        class="profile-pic me-2">
                    <div class="user-details">
                        <h3>Vipul Gawade</h3>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" (click)="redirectTo('profile')">View Profile</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger">Logout</button>
                </div>
            </div>
            }
    
            <!-- <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/register">Signup</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    }
    <router-outlet></router-outlet>
</main>