<!-- registration.component.html -->
<div class="main-container">
    <div class="glass-morphism">
        <form [formGroup]="registrationForm" (submit)="onSubmit()">
            <div class="form-header">
                <div class="back-btn"><img src="../../../assets/svgs/back-arrow.svg" alt="left-arrow" (click)="goToPreviousPage()"></div>
                <h2>Register</h2>
            </div>
            <div class="form-body">
                @if(pageNumber === 1){
                <div class="input-block">
                    <input type="text" id="fullName" placeholder="Enter Full Name" formControlName="fullName">
                    @if(registrationForm.get('fullName')?.invalid && (registrationForm.get('fullName')?.dirty ||
                    registrationForm.get('fullName')?.touched)){
                    <div class="text-danger">
                        Full Name is required.
                    </div>
                    }
                </div>
                <div class="input-block">
                    <input type="email" id="email" placeholder="Enter Email" formControlName="email">
                    @if(registrationForm.get('email')?.errors?.['required'] && (registrationForm.get('email')?.dirty ||
                    registrationForm.get('email')?.touched)){
                    <div class="text-danger">
                        Email is required.
                    </div>
                    }
                    @if(registrationForm.get('email')?.hasError('email') && (registrationForm.get('email')?.dirty ||
                    registrationForm.get('email')?.touched)){
                    <div class="text-danger">
                        Please enter a valid email address.
                    </div>
                    }
                </div>
                <div class="phone-block">
                    <input type="tel" id="phoneNumber" placeholder="Enter Phone Number" formControlName="phoneNumber">
                </div>
                <div class="custom-checkbox phone-block">
                    <input type="checkbox" class="form-check" formControlName="isGuide" name="isGuide" id="isGuide">
                    <label for="isGuide" class="form-label">Are you Guide ?</label>
                </div>
                }
                @if(pageNumber === 2){
                <div class="input-block">
                    <input type="text" id="username" placeholder="Enter Username" formControlName="username">
                    @if(registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty ||
                    registrationForm.get('username')?.touched)){
                    <div class="text-danger">
                        Username is required.
                    </div>
                    }
                </div>
                <div class="input-block">
                    <input type="text" id="businessName" placeholder="Enter Business Name" formControlName="businessName">
                </div>
                }
                <div class="form-cta">
                    <div class="btns">
                        @if(registrationForm.get('isGuide')?.value === true && pageNumber === 1){
                        <button type="button" class="register-btn" (click)="goToNextPage()">Next</button>
                        }
                        <!-- @else if (pageNumber === 2) {
                        <button type="button" class="register-btn" (click)="goToPreviousPage()">Previous</button>
                        } -->
                        @if((registrationForm.get('isGuide')?.value === false && pageNumber === 1) ||
                        (registrationForm.get('isGuide')?.value === true && pageNumber === 2)){
                        <button type="submit" class="register-btn">Register</button>
                        }
                    </div>
                    <div class="sign-in-block"> Already an account ?
                        <a href="javascript:void(0)" routerLink="login">
                            <button type="button" class="btn btn-primary"> Sign In </button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>