<div class="main-container">
    <div class="glass-morphism">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-header">
                <div class="back-btn"><img loading="lazy" src="../../../assets/svgs/back-arrow.svg" alt=""></div>
                <h2>Login</h2>
            </div>
            <div class="form-body">
                <div class="username-block">
                    <!-- <label for="username" class="form-label">User Name/Email/Mobile</label> -->
                    <input type="text" class="" id="username" placeholder="Enter User Name"
                        formControlName="username">
                    @if(loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty ||
                    loginForm.get('username')?.touched)){
                    <div class="text-danger">
                        Username is required.
                    </div>
                    }
                </div>
                <div class="password-block">
                    <input type="password" class="" id="password" placeholder="Enter Password"
                        formControlName="password">
                    @if(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||
                    loginForm.get('password')?.touched)){
                    <div class="text-danger">
                        Password is required.
                    </div>
                    }
                </div>
                <div class="forgot-password-block">
                    <a href="#">Forget Password ?</a>
                </div>
                <div class="form-cta">
                    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
                    <div class="sign-in-block">
                        Create an account ?
                        <a href="javascript:void(0)" (click)="goToSignUpPage()">
                            <button type="button" class="btn btn-primary">Sign Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>