@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Nunito:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap');



// variables.scss
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;

// $font-family-base: 'Arial';
$font-size-base: 16px;

$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

$navbar-height: 50px;

$header-inline-padding: 40px;


// mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-color($color) {
    &:hover {
        background-color: $color;
    }
}


:root {
    --primary-color: #0077b6; // Oceanic blue
    --secondary-color: #f4a261; // Warm sunset orange
    --bg-color: #fdfcfb; // Light creamy background
    --text-color: #333; // Dark gray for readability
    --navbar-height: 50px;
    --negative-navbar-height: 50px;
    --black: black;
    // --primary-color: #3498db;
    // --secondary-color: #2ecc71;
    // --accent-color: #e74c3c;
}



// Global styles
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

// Button styles
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;

    &.primary {
        background-color: $primary-color;
        @include hover-color(darken($primary-color, 10%));
    }

    &.secondary {
        background-color: $secondary-color;
        @include hover-color(darken($secondary-color, 10%));
    }

    &.success {
        background-color: $success-color;
        @include hover-color(darken($success-color, 10%));
    }

    &.danger {
        background-color: $danger-color;
        @include hover-color(darken($danger-color, 10%));
    }

    &.warning {
        background-color: $warning-color;
        @include hover-color(darken($warning-color, 10%));
    }
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

/* Add some spacing between elements */
.margin-bottom {
    margin-bottom: 1em;
}

/* main.css */
@media (max-width: 768px) {

    body {
        font-size: 14px;
    }
}

// /* main.css */
// :root {

// }

// body {
//     color: #333;
//     background-color: #fff;
// }

textarea {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

input [type="number"] {
    appearance: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


// 
.custom-dialog-container {
    max-width: 90vw;
    max-height: 90vh;
}

img {
    height: auto;
    // aspect-ratio: 1280 / 720;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


p {
    .highlight {
        color: darkorange;
        font-weight: 500;
    }
}
