<div class="admin-wrapper">
    <aside [class.collapsed]="sidebarCollapsed">
        <div class="toggle-btn" (click)="toggleSidebar()">
            ☰
        </div>
        <ul class="menu">
            <li routerLinkActive="active" [routerLink]="['sections']">Sections</li>
            <li routerLinkActive="active" [routerLink]="['/guides']">Guides</li>
            <li routerLinkActive="active" [routerLink]="['tags']">Tags</li>
            <li routerLinkActive="active" [routerLink]="['categories']">Categories</li>
            <!-- <li>
                Features
                <ul class="submenu">
                    <li routerLinkActive="active" [routerLink]="['/place-features']">Place Features</li>
                    <li routerLinkActive="active" [routerLink]="['/unique-features']">Unique Features</li>
                </ul>
            </li> -->
        </ul>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>