main {
    padding: 20px 40px;

    .title {
        width: 100%;
        border-bottom: 2px solid #dcdcdc;

        h3 {
            padding: 0;
            margin: 0;
            font-size: 22px;
            font-weight: 500;
        }
    }

    .places {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 20px 0;
    }
}