nav {
    background-color: var(-secondary-bg-color);
    padding: 10px 15px;
    width: 100%;
    height: var(--header-height);

    .header {
        display: flex;
        gap: 20px;
        align-items: center;

        .toggle-btn {
            // background-color: #1e272e;
            padding: 20px;
            cursor: pointer;
            text-align: end;
            font-size: 24px;
        }

        .pageName {
            padding: 0;
            margin: 0;
        }
    }
}